/* The webpage overall styling */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: grey;
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f7f7f7;
}


#content {
    text-align:center;
}

/* This styles the heading in the 3D description */
#content h2 {
    font-size: 18px;
    margin-left:center;
    margin-right:center;
    color: grey;
}
/* This styles the button in the 3D description*/
#content button {
    width: 35%;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 5vh;
    margin-left: center;
    border: none;
    outline: none;
    border-radius: 20px;
    background: dodgerblue;
    color: white;
}

/* This adds some hover effects over the button */
#content button:hover {
    background: navy;
}
#aSide {
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
 
}

/* This styles the 3D object inserted in the aside container */
#aSide model-viewer {
    height: 1080px;
    width: 1080px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    border:solid;
}
